body{
    background-color: #cfcfcf;
    font-family:Arial, Helvetica, sans-serif;
}
h1{
    text-align:center;
}
div{
    color:#ef0101
    font-size:30px;
    border:dotted;
    padding:5px;
    margin:10px;
    width:200px;
}

div>div{
    position:relative;
    left:127px;
    bottom: 15px;
    width:55px;
    text-align:center;
    border:solid;
}
#chicken{

}
#beef{

}
#sushi{
}